extends _layouts/master

block content
  .container-fluid
    .row
      .col-md-3
        aside#sidebar.sidebar(data-plugin-sticky='', data-plugin-options='{"minWidth": 991, "containerSelector": ".container", "padding": {"top": 110}}')
          h4.heading-primary Services
          ul.nav.nav-list.mb-xl.show-bg-active
            li
              a(href='regular.html') Regular Service
            li
              a(href='repairs.html') Repairs &Fixes
            li.active
              a(href='body.html') Bodyworks
            li
              a(href='clean.html') Cleaning & Care
            li
              a(href='tyres.html') Tyres & Batteries
            li
              a(href='break.html') Breakdown
      .col-md-9
        h2 Bodyworks
        p.first
          | Scratch? Dent? Broken Bumper? All of these not only spoils the look of your car, but is a potential source for rusting if left unattended. Repairing vehicle bodies is not only necessary but is also a vague and expensive ordeal for most customers. MotorZo gets you the best estimates from the top service stations with body shops in Bangalore. You can be assured as all of them have state of the art paint booths and use the highest quality paints and materials to fix your beloved car. All without leaving the comfort of your home or compromising on your work. Now, that’s a smart service!