extends _layouts/master

block content
  .container-fluid
    .row
      .col-md-3
        aside#sidebar.sidebar(data-plugin-sticky='', data-plugin-options='{"minWidth": 991, "containerSelector": ".container", "padding": {"top": 110}}')
          h4.heading-primary Services
          ul.nav.nav-list.mb-xl.show-bg-active
            li
              a(href='regular.html') Regular Service
            li
              a(href='repairs.html') Repairs &Fixes
            li
              a(href='body.html') Bodyworks
            li.active
              a(href='clean.html') Cleaning & Care
            li
              a(href='tyres.html') Tyres & Batteries
            li
              a(href='break.html') Breakdown
      .col-md-9
        h2 Cleaning and Maintenance
        p.first
          | Keeping your car clean and shining is not only a matter of pride, but it also protects the precious body of your vehicle from any rust or dust. But, finding the right place nearby which knows the science behind cleaning procedure can be difficult. So, whether you are looking for a simple car wash or a deep interior cleaning, MotorZo gives you access to the best places in Bangalore that can keep your car shining like a new one. We also offer tailored made packages for cleaning spanning across days, weeks or months based on your requirement. What’s more? We even offer doorstep services for cleaning and care so that you don’t have to worry about a thing. And did we tell you that it is also environment friendly? Now, that’s a smart service!.
