extends _layouts/master

block vars
  - var currentNav = 'home';

block content
  .slider-container.light.rev_slider_wrapper
    #revolutionSlider.slider.rev_slider(data-plugin-revolution-slider='', data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 500}')
      ul
        li(data-transition='fade', data-title='Advocate Team', data-thumb='img/slides/slide-law-office-1.jpg')
          img.rev-slidebg(src='img/slides/1.png', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
          .tp-caption.main-label.main-me(data-x='right', data-hoffset='156', data-y='center', data-voffset='-45', data-start='1500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') GOT A CAR ?
          .tp-caption.bottom-me(data-x='right', data-hoffset='100', data-y='center', data-voffset='12', data-start='2000', style='z-index: 5', data-transform_in='y:[100%];opacity:0;s:500;') GIVE YOUR SMART CAR A SMART SERVICE.
          a.tp-caption.btn.btn-primary.btn-lg(data-hash-offset='85', href='https://goo.gl/cbc0kV', target='_blank', data-x='center', data-hoffset='220', data-y='center', data-voffset='80', style='z-index: 5') Get Started Now
        li(data-transition='fade', data-title='Advocate Team', data-thumb='img/slides/slide-law-office-1.jpg')
          img.rev-slidebg(src='img/slides/2.png', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
          .tp-caption.main-label.main-me(data-x='right', data-hoffset='156', data-y='center', data-voffset='-45', style='z-index: 5') GOT A CAR ?
          .tp-caption.bottom-me(data-x='right', data-hoffset='100', data-y='center', data-voffset='12', style='z-index: 5') GIVE YOUR SMART CAR A SMART SERVICE.
          a.tp-caption.btn.btn-primary.btn-lg(data-hash-offset='85', href='https://goo.gl/cbc0kV', target='_blank', data-x='center', data-hoffset='220', data-y='center', data-voffset='80', style='z-index: 5') Get Started Now
        li(data-transition='fade', data-title='Advocate Team', data-thumb='img/slides/slide-law-office-1.jpg')
          img.rev-slidebg(src='img/slides/3.png', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
          .tp-caption.main-label.main-me(data-x='right', data-hoffset='156', data-y='center', data-voffset='-45', style='z-index: 5') GOT A CAR ?
          .tp-caption.bottom-me(data-x='right', data-hoffset='100', data-y='center', data-voffset='12', style='z-index: 5') GIVE YOUR SMART CAR A SMART SERVICE.
          a.tp-caption.btn.btn-primary.btn-lg(data-hash-offset='85', href='https://goo.gl/cbc0kV', target='_blank', data-x='center', data-hoffset='220', data-y='center', data-voffset='80', style='z-index: 5') Get Started Now
        li(data-transition='fade', data-title='Advocate Team', data-thumb='img/slides/slide-law-office-1.jpg')
          img.rev-slidebg(src='img/slides/4.png', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
          .tp-caption.main-label.main-me(data-x='right', data-hoffset='156', data-y='center', data-voffset='-45', style='z-index: 5') GOT A CAR ?
          .tp-caption.bottom-me(data-x='right', data-hoffset='100', data-y='center', data-voffset='12', style='z-index: 5') GIVE YOUR SMART CAR A SMART SERVICE.
          a.tp-caption.btn.btn-primary.btn-lg(data-hash-offset='85', href='https://goo.gl/cbc0kV', target='_blank', data-x='center', data-hoffset='220', data-y='center', data-voffset='80', style='z-index: 5') Get Started Now
        li(data-transition='fade', data-title='Advocate Team', data-thumb='img/slides/slide-law-office-1.jpg')
          img.rev-slidebg(src='img/slides/5.png', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
          .tp-caption.main-label.main-me(data-x='right', data-hoffset='156', data-y='center', data-voffset='-45', style='z-index: 5') GOT A CAR ?
          .tp-caption.bottom-me(data-x='right', data-hoffset='100', data-y='center', data-voffset='12', style='z-index: 5') GIVE YOUR SMART CAR A SMART SERVICE.
          a.tp-caption.btn.btn-primary.btn-lg(data-hash-offset='85', href='https://goo.gl/cbc0kV', target='_blank', data-x='center', data-hoffset='220', data-y='center', data-voffset='80', style='z-index: 5') Get Started Now
        li(data-transition='fade', data-title='Advocate Team', data-thumb='img/slides/slide-law-office-1.jpg')
          img.rev-slidebg(src='img/slides/6.png', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
          .tp-caption.main-label.main-me(data-x='right', data-hoffset='156', data-y='center', data-voffset='-45', style='z-index: 5') GOT A CAR ?
          .tp-caption.bottom-me(data-x='right', data-hoffset='100', data-y='center', data-voffset='12', style='z-index: 5') GIVE YOUR SMART CAR A SMART SERVICE.
          a.tp-caption.btn.btn-primary.btn-lg(data-hash-offset='85', href='https://goo.gl/cbc0kV', target='_blank', data-x='center', data-hoffset='220', data-y='center', data-voffset='80', style='z-index: 5') Get Started Now
        //- li(data-transition='fade', data-title='Advocate Team', data-thumb='img/slides/slide-law-office-1.jpg')
        //-   img.rev-slidebg(src='img/slides/2.png', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
        //-   .tp-caption.top-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-95', data-start='1000', style='z-index: 5', data-transform_in='y:[-300%];opacity:0;s:500;') YOUR TRUSTED
        //-   .tp-caption.main-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-45', data-start='1500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') Smart Car Service
        //-   a.tp-caption.btn.btn-primary.btn-lg(data-hash-offset='85', href='https://goo.gl/cbc0kV', target='_blank', data-x='center', data-hoffset='200', data-y='center', data-voffset='80',style='z-index: 5') Get Started Now!
        //- li(data-transition='fade', data-title='Practice Areas', data-thumb='img/slides/slide-law-office-2-thumb.jpg')
        //-   img.rev-slidebg(src='img/slides/3.png', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
        //-   .tp-caption.main-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-205', data-start='1000', style='z-index: 5; font-size: 40px;', data-transform_in='y:[-300%];opacity:0;s:500;') Services
        //-   .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-145', data-start='1500', data-transform_in='x:[-100%];opacity:0;s:500;')
        //-     i.fa.fa-check
        //-     |  Regular Services
        //-   .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-100', data-start='1800', data-transform_in='x:[-100%];opacity:0;s:500;')
        //-     i.fa.fa-check
        //-     |  Repairs & Fixes
        //-   .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-55', data-start='2100', data-transform_in='x:[-100%];opacity:0;s:500;')
        //-     i.fa.fa-check
        //-     |  Bodyworks
        //-   .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-10', data-start='2400', data-transform_in='x:[-100%];opacity:0;s:500;')
        //-     i.fa.fa-check
        //-     |  Cleaning & Care
        //-   .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='35', data-start='2700', data-transform_in='x:[-100%];opacity:0;s:500;')
        //-     i.fa.fa-check
        //-     |  Tyres & Batteries
        //-   a.tp-caption.btn.btn-primary.btn-lg(data-hash='', data-hash-offset='85', href='about.html', data-x='right', data-hoffset='100', data-y='center', data-voffset='150', data-start='3500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;')
        //-     | Learn More
        //-     i.fa.fa-long-arrow-right
        //- li(data-transition='fade', data-title='Advocate Team', data-thumb='img/slides/slide-law-office-1.jpg')
        //-   img.rev-slidebg(src='img/slides/4.png', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
        //-   .tp-caption.main-label.main-me(data-x='right', data-hoffset='156', data-y='center', data-voffset='-45', data-start='1500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') GOT A CAR ?
        //-   .tp-caption.bottom-me(data-x='right', data-hoffset='100', data-y='center', data-voffset='12', data-start='2000', style='z-index: 5', data-transform_in='y:[100%];opacity:0;s:500;') GIVE YOUR SMART CAR A SMART SERVICE.
        //-   a.tp-caption.btn.btn-primary.btn-lg(data-hash-offset='85', href='#', target='_blank', data-x='center', data-hoffset='220', data-y='center', data-voffset='80', data-start='2500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') Get Started Now
        //- li(data-transition='fade', data-title='Advocate Team', data-thumb='img/slides/slide-law-office-1.jpg')
        //-   img.rev-slidebg(src='img/slides/5.png', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
        //-   .tp-caption.top-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-95', data-start='1000', style='z-index: 5', data-transform_in='y:[-300%];opacity:0;s:500;') YOUR TRUSTED
        //-   .tp-caption.main-label(data-x='right', data-hoffset='100', data-y='center', data-voffset='-45', data-start='1500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') Smart Car Service
        //-   a.tp-caption.btn.btn-primary.btn-lg(data-hash='', data-hash-offset='85', href='', target='_blank', data-x='center', data-hoffset='220', data-y='center', data-voffset='80', data-start='2500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', style='z-index: 5', data-mask_in='x:0px;y:0px;') Get Started Now
  .container-fluid.motorzois
    .text.center
      p
        | MotorZo is a smart car service that removes all hassles associated with car service.
      p.mb-sm.mt-xs.word-rotator-title.text-center
        | Motorzo is
        strong.inverted
          span.word-rotate(data-plugin-options='{"delay": 2000, "animDelay": 500}')
            span.word-rotate-items.large
              span trustworthy
              span convenient
              span transparent
              span smart
              span easy
  .container-fluid
    .row
      .col-sm-6.stage-down
        .col-xs-1
          .stage-number 1
        .col-xs-10
          .stage-title.col-xs-11.large IDENTIFY ISSUE
          .stage-description.col-xs-12
            | Enter your car details, identify car issues with our diagnostic tool or simply tell us your issue.
      .col-sm-6.image
        img.img-responsive.appear-animation(src='img/identify.png', alt='', data-appear-animation='fadeInRight')
  .container-fluid
    .row
      .col-sm-6.col-sm-push-6.stage-down
        .col-xs-1
          .stage-number 2
        .col-xs-10
          .stage-title.col-xs-11.large GET MULTIPLE ESTIMATES ONLINE
          .stage-description.col-xs-12
            | Get estimates from quality certified service stations near you. Choose the one you like based on the ratings and reviews
      .col-sm-6.col-sm-pull-6.image
        img.img-responsive.appear-animation(src='img/Relax.png', alt='', data-appear-animation='fadeInLeft')
  .container-fluid
    .row
      .col-sm-6.stage-down
        .col-xs-1
          .stage-number 3
        .col-xs-10
          .stage-title.col-xs-11.large RELAX
          .stage-description.col-xs-12
            | Stay updated, get your car picked and dropped and pay with ease. You can even get things done at your doorstep. All from your phone!
      .col-sm-6.image
        img.img-responsive.appear-animation(src='img/identify.png', alt='', data-appear-animation='fadeInRight')
  .container-fluid
    .row#counters
      .col-md-12
        .counters
          .col-md-4.col-sm-6
            .counter.counter-primary
              i.fa.fa-star
              strong(data-to='4.7', data-plugin-options='{"decimals": 1}') 0
              label.class("countlab-zo") Average Customer Rating
              p.class("countp-zo") They can't be wrong
          //.col-md-3.col-sm-6
            .counter.counter-with-unit.counter-primary
              i.fa.fa-star
              strong $
              strong(data-to='15') 0
              label Currency
          .col-md-4.col-sm-6
            .counter.counter-with-unit.counter-primary
              i.fa.fa-map-marker
              strong(data-to='112') 0
              label.class("countlab-zo") Service Centers
              p.class("countp-zo") All Quality Certified
          .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3
            .counter.counter-primary
              i.fa.fa-thumbs-up
              strong(data-to="6027") 0
              label.class("countlab-zo") Fans
              p.class("countp-zo") Many more to come

  section.section.map
    .visible-sm.visible-md.visible-lg
      h3.padding.text-center Why choose Motorzo
    .visible-xs
      p.padding Why choose Motorzo
  section#about.section.section-default.section-with-mockup.mb-none
    .container
      .row
        .col-md-4
          .feature-box.feature-box-style-2.reverse.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
            .feature-box-icon
              i.fa.fa-mobile
            .feature-box-info
              h4.mb-sm Power of choice
              p.mb-lg
                | Choose your own service station based on multiple ratings and estimates. All the service stations you see on our platform have been quality certified to meet the highest standards!
          .feature-box.feature-box-style-2.reverse.mt-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='600')
            .feature-box-icon
              i.fa.fa-lightbulb-o
            .feature-box-info
              h4.mb-sm Smart and Simple
              p.mb-lg
                | We offer an interface that gets you more with less clicks. Identify car issues yourself and let our smart algorithm find the service station that is best based on your repair, car and location!
        .col-md-4
          img.img-responsive.hidden-xs.mockup-landing-page.mb-xl.appear-animation.mt-lg(src='img/Confused.png', alt='Motorzo', data-appear-animation='fadeInDown', data-appear-animation-delay='300')
        .col-md-4
          .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
            .feature-box-icon
              i.fa.fa-thumbs-up
            .feature-box-info
              h4.mb-sm 100% Transparency
              p.mb-lg
                | All our services are based according to manufacturer norms and we will tell you what is required for your car. From pricing to details of the service stations; we hide nothing form you.
          .feature-box.feature-box-style-2.mt-xl.appear-animation.pt-md(data-appear-animation='fadeInRight', data-appear-animation-delay='600')
            .feature-box-icon
              i.fa.fa-child
            .feature-box-info
              h4.mb-sm Comfort and Convenience
              p.mb-lg
                | Trust us to find your issue and fix it. Trust us to bring back your car as good as new. We are always just a click or call away! Car maintenance was never so easy and hassle free
  section.section.section-center.mt-xl.mb-xl(style='background-color:#2f343c;')
    .container
      .row.clients
        .col-md-10.col-md-offset-1.color
          h2.mt-xl
            strong What Our Cutomers Are Saying
          .owl-carousel.owl-theme.nav-bottom.rounded-nav(data-plugin-options='{"items": 1, "loop": false}')
            div
              .col-md-12
                .testimonial.testimonial-style-2.testimonial-with-quotes.mb-none
                  p
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                  blockquote
                    p
                      | I really appreciate the effort you had taken and the personal attention and time you had given both the times when I had given my car through your team.I am extremely delighted by the services you offered and also the best price negotiation you all had got for us for both my cars.
                  .testimonial-author
                    p
                      strong KP Sundar
            div
              .col-md-12
                .testimonial.testimonial-style-2.testimonial-with-quotes.mb-none
                  p
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                  blockquote
                    p
                      | I must say you guys are fantabulous! There was accuracy, time management and most of all; it is how you guys initially educate us on the actual requirement of the customer.
                  .testimonial-author
                    p
                      strong Piyush
            div
              .col-md-12
                .testimonial.testimonial-style-2.testimonial-with-quotes.mb-none
                  p
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                    i.fa.fa-star.fa-lg
                  blockquote
                    p
                      | These guys are excellent. Brilliant job done. They know how to revive the looks on any car. Totally impressed and I would highly recommend!
                  .testimonial-author
                    p
                      strong Rajkumar
  section.section.rmpad
    .container-fluid
      .row
        .col-md-12
          .owl-carousel.owl-theme(data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}')
            div
              img.img-responsive(src='img/logos/1.png', alt='')
            div
              img.img-responsive(src='img/logos/2.png', alt='')
            div
              img.img-responsive(src='img/logos/3.png', alt='')
            div
              img.img-responsive(src='img/logos/4.png', alt='')
            div
              img.img-responsive(src='img/logos/5.png', alt='')
            div
              img.img-responsive(src='img/logos/6.png', alt='')
            div
              img.img-responsive(src='img/logos/7.png', alt='')
            div
              img.img-responsive(src='img/logos/8.png', alt='')
  section.section.map
    .visible-sm.visible-md.visible-lg
      h3.padding.text-center our vendors are all over bangalore
    .visible-xs
      p.padding our vendors are all over bangalore
    #map
  //div.container
    .row
      #sendlink.col-md-6.text-center
        .row
          table.table
            thead
              tr
                th(colspan='2') I am ready for a smart service
            tbody
              tr
                td.col-xs-7
                  input.form-control(type='number')
                td.col-xs-5
                  input.btn.btn-success(type='submit', value='Send me app link')
              tr.col-xs-12
                td
                  img.img-responsive(src='img/appstore.png', alt='appstore link')
                td
                  a(href='')
                    img.img-responsive(src='img/googleplay.png', alt='google play store')
          #contactSuccess.alert.alert-success.hidden
            strong Success!
            |  Your message has been sent to us.
          #contactError.alert.alert-danger.hidden
            strong Error!
            |  There was an error sending your message.

      .col-md-6.appear-animation(data-appear-animation='fadeInRight')
        img.img-responsive(src='img/try.png', alt='image', height='500px')
  section.link
    .container-fluid
      .row
        #sendlink.col-md-6.text-center
          h3.heading-zo.appear-animation(data-appear-animation='fadeInRight') I am ready for a smart service!
          form#sendlinkForm.form-inline.appear-animation(data-appear-animation='fadeInLeft')
            .form-group
              label.sr-only(for='phone') Phone
              .input-group
                span.input-group-addon
                  i.fa.fa-cog.fa-spin.fa-1x
                  |                         +91
                input#phone.form-control.input-lg(type='text', value='', data-msg-required='Please enter the mobile.', maxlength='100', name='phone', placeholder='Enter mobile number', required='')
            input.btn.btn-primary.btn-lg(type='submit', value='Send me an app link', data-loading-text='Loading...')
          #contactSuccess2.alert.alert-success.hidden
            strong Success!
            |  You will receive the App link soon! .
          #contactError2.alert.alert-danger.hidden
            strong Error!
            |  Oops! That wasn't supposed to happen! We are working on it!
          br
          .row
            .col-xs-8.col-xs-offset-2.col-lg-8.col-lg-offset-2
              ul.list-unstyled.list-inline
                li
                  a
                    img.img-responsive(src='img/appstore.png', alt='')
                li
                  a(href='https://goo.gl/ZxHe1m', target='_blank')
                    img.img-responsive(src='img/googleplay.png', alt='')
              //
                <div class="col-xs-5">
                <img src="img/appstore.png" alt="" class="img-responsive">
                </div>
                <div class="col-xs-5">
                <a href="https://goo.gl/ZxHe1m" target="_blank"><img src="img/googleplay.png" alt="" class="img-responsive"></a>
                </div>
        .col-md-6.appear-animation(data-appear-animation='fadeInRight')
          img.img-responsive(src='img/try.png', alt='image', height='200px')



block script
  script.
    var beaches = [
      ['beach', 12.9081, 77.6476,4],
      ['beach', 12.9787, 77.5724,3],
      ['beach', 12.9372, 77.5116,2],
      ['beach', 12.9317, 77.6227,1],
      ['beach', 13.0617033, 77.2962104,5],
      ['beach', 12.9719, 77.6412,6],
      ['beach', 13.012, 77.6471,7],
      ['beach', 12.843148, 77.674889,8],
      ['beach', 13.010510, 77.551033,9],
      ['beach', 12.917980, 77.640961,10],
      ['beach', 12.929422, 77.678823,11],
      ['beach', 12.906561, 77.592777,12],
      ['beach', 12.987429, 77.741265,13],
      ['beach', 13.033326, 77.598001,14],
      ['beach', 12.900529, 77.563830,15],
      ['beach', 12.911514, 77.607354,16],
      ['beach', 13.010817, 77.506579,17],
      ['beach', 12.960752, 77.740304,18],
      ['beach', 12.937562, 77.746452,19],
      ['beach', 12.901110, 77.484337,20],
      ['beach', 12.963599, 77.453962,21],
      ['beach', 13.020563, 77.596620,22]
    ];

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: {lat: 12.9716, lng: 77.5946},
        mapTypeControl: false,
        draggable: false,
        scaleControl: false,
        scrollwheel: false,
        navigationControl: false,
        streetViewControl: false,
        zoomControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      setMarkers(map);
      var styles = [
        {
          stylers: [
            { hue: '#2f343c' },
            { saturation: -20 }
          ]
        },
        {
          featureType: 'road',
          elementType: 'geometry',
          stylers: [
            { lightness: 100 },
            { visibility: 'on' },
            { color: '#ff9800'}
          ]
        },
        {
          featureType: 'road',
          elementType: 'labels',
          stylers: [
            { visibility: 'off' }
          ]
        }
      ];
      map.setOptions({styles: styles});
    }

    function setMarkers(map) {

      var image = {
        url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
        // This marker is 20 pixels wide by 32 pixels high.
        size: new google.maps.Size(12, 27),
        // The origin for this image is (0, 0).
        origin: new google.maps.Point(0, 0),
        // The anchor for this image is the base of the flagpole at (0, 32).
        anchor: new google.maps.Point(0, 32)
      };

      var shape = {
        coords: [1, 1, 1, 20, 18, 20, 18, 1],
        type: 'poly'
      };
      for (var i = 0; i < beaches.length; i++) {
        var beach = beaches[i];
        var marker = new google.maps.Marker({
          position: {lat: beach[1], lng: beach[2]},
          map: map,
          icon: image,
          shape: shape,
          title: beach[0],
          zIndex: beach[3],
          animation: google.maps.Animation.BOUNCE
        });
      }
    }
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDStL9M17hARws6wiw92qOzkpv88UC2m1g&callback=initMap" async defer)
  script(src="js/views/sendlink.js")