doctype html
html
    block vars
        - var currentNav = 'services';
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        title Motorzo - #SmartCarService

        meta(name="keywords" content="CarService")
        meta(name="description" content="Motorzo - #SmartCarService")
        meta(name="motorzo" content="motorzo.in")

        //- Mobile Metas
        meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

        meta(http-equiv="Cache-control", content="public")
        meta(name="google-site-verification" content="3ieWFFFNA6sRneStFb_Is4Vm1aM96dLu4SOVcyxwtTE")

        //- Favicon
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" href="img/apple-touch-icon.png")

        //- Web Fonts
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet")

        //- styling
        link(href="css/main.css" rel="stylesheet")



    body
        .body
            include header

            .main(role="main")
                block content

            include footer

        script(src="js/main.js")

        script.
            init("e3dd6b6b-e11b-11e5-a7c5-067cf20e9301","+917848060606","+917848060606")
        block script

        script.
          window.$zopim || (function (d, s) {
          var z = $zopim = function (c) {
          z._.push(c)
          }, $ = z.s =
          d.createElement(s), e = d.getElementsByTagName(s)[0];
          z.set = function (o) {
          z.set._.push(o)
          };
          z._ = [];
          z.set._ = [];
          $.async = !0;
          $.setAttribute("charset", "utf-8");
          $.src = "//v2.zopim.com/?42Q33oqAUp69iHpLiNuDt2BFycAHELlA";
          z.t = +new Date;
          $.type = "text/javascript";
          e.parentNode.insertBefore($, e)
          })(document, "script");



        //- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to www.google.com/analytics/ for more information.
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-12345678-1', 'auto');
            ga('send', 'pageview');
        script.
          !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
          n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
          document,'script','https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '1741950826018099');
          fbq('track', "PageView");
        noscript
          img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1741950826018099&ev=PageView&noscript=1')
