//- modals
.modal.fade#booknowModal(tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.modal-title Book your car service now
            .modal-body
                .pipedriveWebForms(data-pd-webforms='https://pipedrivewebforms.com/form/c357033a3ad868c20b183fde3d5460f8')
                    script(src='https://pipedrivewebforms.com/webforms.min.js')



.modal.fade#callbackModal(tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.modal-title#formModalLabel Get a call back
            .modal-body: #call
            .modal-footer: button.btn.btn-default(type="button" data-dismiss="modal") Close